@import './_tools.scss';

/* Aqui se guardarab las variables */

// Weight para las fuentes
$thin:100;
$light:300;
$normal:400;
$medium:500;
$bold:700;

// Gutter
$gutter:1em;
$radius: 5px;
// Breakpoints
$x-small:320px;
$small:480px;
$medium:768px;
$large:1025px;
$x-large:1400px;

//Mixin para media queries
@mixin desde($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

/*@font-face {
    font-family: lovato;
    font-style: normal;
    font-weight: $bold;
    src: url('~/../fonts/lovato-Black.ttf');
 }*/

// Importar fuentes
//@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(//db.onlinewebfonts.com/c/3cb0adcd15983b5f948521d3c82850b0?family=Brela);
$font-title:'Roboto ';
$font-text:'Brela';


$font-size:em(16px);
$h3-size: $font-size * 1.15;
$h2-size: $font-size * 1.35;
$h1-size: $font-size * 1.7;

// Colores
$colors:(
    background:#fdfdfd,
    primary:#2948ff,
    secondary:#2948ff,
    special:#FF416C,
    special2:#FF4B2B,
    white: #ffffff,
    black: #191919,
    grey: #cccccc,
    success:#2ECC71,
    alert: #F89406,
    error: #f22613
);

//Sombras para los contenedores
@mixin box_shadow ($level) {
  @if $level==1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  @else if $level==2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  @else if $level==3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  @else if $level==4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  @else if $level==5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

@function color($color) {
  @return map-get($colors, $color);
}

//Clases
.layout{
  margin: 0 auto !important;
  max-width: $x-large;
}

.display-flex__center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

